:root {
	--main-red: rgb(247, 7, 7);
	--orange: rgb(255, 165, 0);
	--light-orange: rgb(249, 225, 48);
	--cream: rgb(224, 222, 222);
	--black: rgb(0, 0, 0);
	--white: rgb(255, 255, 255);
	--transparent-black: rgb(0, 0, 0, 0.6);
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}
body {
	overflow-x: hidden;
}
main {
	position: absolute;
	margin-top: 60px;
	width: 100%;
	left: 0;
	transition: 0.5s;
}
img {
	max-width: 100%;
	height: auto;
}
.container {
	padding: 40px;
	padding-top: 70px;
	text-align: center;
	min-height: 100vh;
}
a {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	height: 60px;
	width: 100%;
	color: var(--black);
	transition: 0.5s;
	padding: 0 20px;
}

/* Header *********************************/
header {
	background-color: var(--main-red);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 60px;
	padding-left: 20px;
	position: fixed;
	top: 0;
	z-index: 10;
}
.name {
	text-align: center;
	font-weight: bold;
	font-size: 24px;
}
.desktop-navbar {
	display: none;
}
.desktop-navbar a:hover {
	background-color: var(--orange);
}

/* Mobile Navbar **************************/
.mobile-navbar {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: var(--orange);
	font-size: 20px;
	width: 100%;
	height: 100vh;
	margin-top: 60px;
	padding-bottom: 60px;
	position: fixed;
	z-index: 400;
	top: 0;
	transform: translate(100%, 0);
	transition: 0.3s;
}
.mobile-navbar.active {
	transform: translate(0, 0);
	transition: 0.3s;
}
.menu-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 40px;
	height: 40px;
	padding: 10px;
	border-radius: 50%;
	bottom: 10px;
	right: 10px;
	background-color: var(--orange);
	z-index: 500;
}
.menu-btn i {
	font-size: 24px;
	cursor: pointer;
}
.closed {
	display: none;
}

/* Clock and music ********************************/
.clock {
	background-color: var(--light-orange);
	width: 200px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	margin: 20px auto;
	border: solid 2px var(--black);
}
.clock-buttons {
	margin-top: 30px;
}
.clock-buttons button {
	padding: 10px;
	border-radius: 10px;
	width: 120px;
	background-color: var(--orange);
}

/* Eventos del Teclado ************************************/
.stage {
	display: flex;
	min-height: 50vh;
	min-width: 80vw;
	background-color: var(--cream);
	margin-top: 20px;
}
.ball {
	width: 4rem;
	height: 4rem;
	margin: auto;
	background-color: var(--orange);
	border-radius: 50%;
}

/* Scroll Top Buttom *****************************/
.scroll-top-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 40px;
	height: 40px;
	padding: 10px;
	border-radius: 50%;
	border: none;
	bottom: 10px;
	right: 70px;
	background-color: var(--orange);
	z-index: 300;
	font-size: 24px;
	transition: all 0.5s ease-out;
}
.scroll-top-btn:hover {
	background-color: black;
	color: var(--light-orange);
}
.hidden {
	visibility: hidden;
	opacity: 0;
}

/* Change Theme Buttom *****************************/
.theme-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 40px;
	height: 40px;
	padding: 10px;
	border-radius: 50%;
	border: none;
	bottom: 10px;
	left: 10px;
	background-color: var(--orange);
	z-index: 300;
	font-size: 24px;
	transition: all 0.5s ease-out;
	cursor: pointer;
}
.theme-btn:hover {
	background-color: black;
	color: var(--light-orange);
}
.light-theme {
	background-color: var(--white);
	color: var(--black);
	transition: 0.5s;
}
.dark-theme {
	background-color: var(--black);
	color: var(--white);
	transition: 0.5s;
}
.sun-icon,
.moon-icon {
	display: block;
	transition: all 0.5s;
}
.inactive {
	display: none;
	transition: all 0.5s;
}

/* Webcam *************************************/
#section5 {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
}
.webcam {
	width: 100%;
}

/* Search Filter *******************************/
.card-filter {
	margin: 30px;
}
.cards-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
	gap: 30px;
}
.card {
	background-color: var(--orange);
	color: var(--white);
	transition: all.5s ease-out;
}
.card img {
	width: 100%;
	height: auto;
}
.card figcaption {
	padding: 20px;
}
.filter {
	display: none;
}

/* Sorteo Digital ******************************/
.winner-btn {
	background-color: var(--orange);
	border: none;
	padding: 5px 30px;
	margin: 20px;
	cursor: pointer;
}

/* Conexión Status *****************************/
.online,
.offline {
	position: absolute;
	width: 100%;
	bottom: 0;
	z-index: 1000;
	padding: 20px;
	align-self: center;
	font-weight: bold;
	text-align: center;
	background-color: rgb(16, 235, 16);
	color: white;
}
.offline {
	background-color: var(--main-red);
}

/* Responsive Slider *******************************/
.slider {
	position: relative;
	width: 100%;
	margin: 1rem auto;
	text-align: center;
}
.slider-container {
	position: relative;
	height: 500px;
}
.slide-content {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: opacity 1s ease;
	opacity: 0;
	visibility: hidden;
}
.slide-content img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.slide-content.active {
	opacity: 1;
	visibility: visible;
}
.slider button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--orange);
	border: none;
	text-decoration: none;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-size: 20px;
	transition: all 0.5s ease;
}
.slider button:hover {
	background-color: var(--light-orange);
}
.slider-buttons {
	display: flex;
	justify-content: space-between;
	width: 100%;
	position: absolute;
	top: 45%;
	padding: 5px;
}

/* Media Query**********************/
@media screen and (min-width: 650px) {
	header {
		justify-content: space-between;
	}
	.desktop-navbar {
		display: flex;
	}
	.mobile-navbar {
		display: none;
	}
	.menu-btn {
		display: none;
	}
	.scroll-top-btn {
		right: 10px;
	}
}
