* {
	box-sizing: border-box;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	font-size: 16px;
	margin: 0;
	margin: 0;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

a {
	color: rgb(9, 176, 114);
	transition: color 0.3s ease;
}

a:hover {
	color: rgb(6, 144, 198);
}

h1 {
	text-align: center;
}

img {
	width: 100%;
	height: auto;
}

.error {
	padding: 2rem;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	background-color: red;
	color: white;
}

/* Header **************************/
.header {
	position: sticky;
	top: 0;
	padding: 0.5rem;
	text-align: center;
	background-color: white;
}

.header > * {
	margin: 1rem auto;
}

/* SearchForm **********************/
.search-form {
	margin: auto;
	text-align: center;
}

.search-form input {
	margin: auto;
	padding: 0.25rem;
	border-radius: 0.5rem;
	font-size: 1rem;
}

/* Posts ****************************/
.grid-fluid {
	margin: 1rem auto;
	max-width: 90%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

/* PostCard *************************/
.post-card {
	margin: 1rem auto;
	padding: 1rem;
	width: 80%;
	border-radius: 0.5rem;
	border: solid 0.1rem gray;
	background-color: rgb(234, 232, 232);
}

.post-card p {
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
}

/* Loader ***************************/
.loader {
	margin: auto;
	display: block;
	width: 8rem;
	height: 8rem;
}
